@import '../../constants/colors.css';

.ResultsSummary {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: var(--accent-two-color);
    padding: 3% 5%;
}

.ResultsSectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ResultsSectionContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}