@import '../../constants/colors.css';

.Sidebar {
    background: var(--accent-one-color);
    display: flex;
    flex-direction: column;
    flex: 3;
    flex-basis: 10%;
    z-index: 1;
    position: sticky;
    top: 2%;
    transform: translateY(0);
    height: 50vh;
    border-radius: 60px;
    overflow: hidden;

    #backToTop {
        background-color: var(--accent-one-color);
        border: none;
        color: white;
        padding: 10px 32px;
        margin: 5px 0 5px 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: calc(10px + 2vmin);
        border-radius: 50px;
        transition: background-color 0.3s ease;
    }

    #backToTop:hover {
        text-decoration: none;

        color: white;
        background-color: var(--accent-one-hover-color);
    }

    a {
        text-decoration: none;
        color: white;
        padding: 10px 32px;
        margin: 5px 0 5px 0;
        text-align: center;
        display: inline-block;
        font-size: calc(10px + 2vmin);
        transition: background-color 0.3s ease;
        border-radius: 50px;
        background-color: var(--accent-one-color);
    }

    a:hover {
        text-decoration: none;
        color: white;
        background-color: var(--accent-one-hover-color);
    }
}