:root {
    --primary-color: #2D6A4F;
    --background-color: #F4F1EC;
    --secondary-color: #E1DED5;
    --accent-one-color: #E8B923;
    --accent-one-hover-color: #C7971D;
    --accent-two-color: #1D3557;
    --text-on-light-color: #1B1B1B;
    --text-on-dark-color: #FAFAFA;
    --hover-color: #e0e0e0;
    --white-color: #ffffff;
}
