@import '../constants/colors.css';

.ComponentLibrary {
    .Example {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 0 auto;
        color: var(--text-on-light-color);
        background-color: var(--secondary-color);
        padding: 1%;

        h1 {
            /* margin: 5%; */
        }

        .ContentDemo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-color);
            height: auto;
            width: 90%;
            margin: 1%;
            padding: 5%;
            border-radius: 50px;
        }
    }
}