@import '../../../constants/colors.css';

.ResultsSummary {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: var(--accent-two-color);
    padding: 3% 5%;
}

.ResultsSectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ResultsSectionHeader span {
    margin-left: auto;
    margin-right: 10%;
}

.ResultsSectionContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TestSummaryRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0 10%;
}